# go-ethereum hack: please see https://github.com/ethereum/go-ethereum/issues/2738#issuecomment-365239248
vendor/github.com/ethereum/go-ethereum/crypto/secp256k1/libsecp256k1
vendor/

abi
**/contracts/
config.json
config-userdelegate.yml
deployment.local.json
private.key
private.*.key
local/
local.db
/config.yml
**/.vscode
**/node_modules
**/build
test/playground

# Created by https://www.gitignore.io/api/go,intellij

**/.DS_Store

### Go ###
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

### Intellij ###
.idea

# CMake
cmake-build-*/

# Mongo Explorer plugin
.idea/**/mongoSettings.xml

# File-based project format
*.iws

# IntelliJ
out/

# mpeltonen/sbt-idea plugin
.idea_modules/

# JIRA plugin
atlassian-ide-plugin.xml

# Cursive Clojure plugin
.idea/replstate.xml

# Crashlytics plugin (for Android Studio and IntelliJ)
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties

# Editor-based Rest Client
.idea/httpRequests

### Intellij Patch ###
# Comment Reason: https://github.com/joeblau/gitignore.io/issues/186#issuecomment-215987721

# *.iml
# modules.xml
# .idea/misc.xml
# *.ipr

# Sonarlint plugin
.idea/sonarlint


# End of https://www.gitignore.io/api/go,intellij
